[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
bs4 = "*"
requests = "*"
urllib3 = "*"
pycryptodome = "*"
googletrans = "*"
bitstring = "*"
fake-useragent = "*"

[dev-packages]
black = "*"
rope = "*"
"flake8" = "*"
"flake8-comprehensions" = "*"
"flake8-mypy" = "*"
"flake8-docstrings" = "*"
"flake8-bugbear" = "*"
"flake8-alfred" = "*"
"flake8-author" = "*"
"flake8-builtins" = "*"
"flake8-deprecated" = "*"
"flake8-import-order" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
